li .menu-item .material-icons {
  vertical-align: text-bottom !important;
}

li .menu-item {
  margin: 10px 0 !important;
}

.icon-sidebar {
  color: white;
}

@media (max-width: 767px) {
  .modal.show .modal-dialog {
    max-width: calc(100% - 8px) !important;
  }
}

.modal-header {
  padding: 6rem 1rem 1rem !important;
  border: none;
}

.modal.show .modal-dialog {
  max-width: 50% !important;
  transform: none;
  top: 0;
}

.modal-title {
  font-weight: bolder;
  font-size: 10px;
  color: gray;
}

.modal-body {
  padding: 1rem 1rem !important;
}

.modal-footer {
  padding: 3rem 0rem 5rem 0rem !important;
  justify-content: flex-start;
}

.modal-header .btn-close {
  padding: 0.5rem 0.5rem;
  margin: -0.5rem 1.5rem -0.5rem auto;
}

input {
  border: none;
  padding: 0;
  font-size: 41px;
}

.input-group-lg > .btn,
.input-group-lg > .form-control,
.input-group-lg > .form-select,
.input-group-lg > .input-group-text {
  padding: 0 1rem 0 1rem;
  font-size: 41px;
}

.input-group {
  height: 60px;
}

.search-icon {
  font-size: 46px;
  color: darkgray;
  cursor: pointer;
}

.list-group {
  flex-direction: row !important;
}

.list-group .list-group-item {
  border: none;
}

.list-group .list-group-item a {
  color: #000;
  font-size: 15px;
}

.list-group .list-group-item a:hover {
  color: palevioletred;
}
